<!DOCTYPE html>
<html lang="en" class="custom-cursor">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link rel="stylesheet" type="text/css" href="style.css" />

    <title>TABO SHOP - Cart</title>
    <link rel="icon" href="./img/tabo.png" type="image/x-icon" />
    <link rel="stylesheet" href="css/cart.css" />
    <style>
      .quantity-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;

      }

      .quantity-wrapper p {
        margin-right: 5px;
      }
    </style>
  </head>
  <body>
    <div class="banner main-container">
      <header class="mb-3">
        <div class="container-fluid bg-info">
          <div class="row align-items-center">
            <div class="col-4 col-xl-1 col-lg-2 col-md-2 col-sm-2">
              <h5>
                <a
                  href="/main"
                  class="text-center text-white fw-bold fs-1 mr-1"
                  data-i18n="tabo"
                  style="text-decoration: none"
                  >TABO</a
                >
              </h5>
            </div>
            <div class="col-4 col-xl-1 col-lg-2 col-md-2 col-sm-2">
              <div class="language-selector">
                <select id="lang-select">
                  <option value="en" data-i18n="english">English</option>
                  <option value="ru" data-i18n="russian">Русский</option>
                </select>
              </div>
            </div>

            <div class="col-6 col-xl-6 col-lg-6 col-3 col-md-3 col-sm-3">
              <nav
                class="navbar navbar-expand-lg justify-content-center align-items-center"
              >
                <ul class="nav navbar-nav align-items-center">
                  <li class="nav-item">
                    <h5>
                      <a
                        class="nav-link mx-2 active text-white fw-bold fs-3"
                        href="/main"
                        data-i18n="home"
                        >Home</a
                      >
                    </h5>
                  </li>
                  <li class="nav-item px-3">
                    <h5>
                      <a
                        class="nav-link mx-2 active text-white fw-bold fs-3"
                        href="/shop"
                        data-i18n="shop"
                        >Shop</a
                      >
                    </h5>
                  </li>
                  <li class="nav-item pr-3">
                    <h5>
                      <a
                        class="nav-link mx-2 active text-white fw-bold fs-3"
                        href="/brands"
                        data-i18n="brands"
                        >Brands</a
                      >
                    </h5>
                  </li>
                  <li class="nav-item pr-3">
                    <h5>
                      <a
                        class="nav-link mx-2 active text-white fw-bold fs-3"
                        href="/contacts"
                        data-i18n="contacts"
                        >Contacts</a
                      >
                    </h5>
                  </li>
                </ul>
              </nav>
            </div>

            <div class="col-12 col-xl-4 col-lg-3 col-sm-6 col-md-6">
              <div
                class="row align-items-center justify-content-center icon-row"
              >
                <% if (adminStatus) { %>
                <div class="col-3">
                  <a class="text-dark" href="/admin" target="blank"
                    ><i
                      class="fa-solid fa-circle-info fa-2x"
                      aria-hidden="true"
                    ></i
                  ></a>
                </div>
                <% } %>
                <div class="col-3">
                  <a class="text-dark" href="/cart" target="blank"
                    ><i
                      class="fa-solid fa-shopping-cart fa-2x"
                      aria-hidden="true"
                    ></i
                  ></a>
                </div>

                <div class="col-3 d-flex flex-column align-items-center">
                  <form action="/signout" method="post">
                    <button type="submit" class="btn signOut">
                      <i class="fa-solid fa-arrow-right-from-bracket fa-2x"></i>
                    </button>
                  </form>
                </div>

                <div class="col-3 d-flex flex-column align-items-center">
                  <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                  <% if (username) { %>
                  <span class="text-center"><%= username %></span>
                  <% } %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <h1 data-i18n="yourCart">Your Cart</h1>
      <div class="container-fluid">
        <% cartItems.forEach((item, index) => { %> <% if (index % 4 === 0) { %>
        <div class="row mb-3 justify-content-center product-row">
          <% } %>

          <div class="col-md-6 col-lg-3 text-center product-col">
            <a href="#">
              <img
                src="<%= item.pictureUrl %>"
                alt="<%= item.name %>"
                class="img-fluid"
                style="max-width: 100%; max-height: 200px"
              />
            </a>
            <h4><%= item.name %></h4>
            <p><%= item.price %> $</p>
            <div class="quantity-wrapper ">
              <p data-i18n="quantity">Quantity:</p>
              <p><%= item.quantity %></p>
            </div>
            <form action="/remove-from-cart/<%= item._id %>" method="post">
              <button type="submit" class="btn btn-danger" data-i18n="remove">
                Remove
              </button>
            </form>
          </div>

          <% if ((index + 1) % 4 === 0 || index === cartItems.length - 1) { %>
        </div>
        <% } %> <% }); %>
      </div>

      <div class="cart-footer py-3 border-top mt-5" id="cart-footer">
        <div class="d-flex justify-content-between">
          <p>
            <strong data-i18n="totalItems">Total Items:</strong>
            <span id="total-items"><%= totalItems %></span>
          </p>
          <p>
            <strong data-i18n="totalPrice">Total Price:</strong>
            <span id="total-price"><%= totalPrice %></span> $
          </p>
          <button id="checkout-button" class="btn btn-info" data-i18n="checkout">Checkout</button>
        </div>
      </div>

      <footer class="bg-light text-dark mt-5">
        <div class="container p-4">
          <div class="row">
            <div class="col-lg-6 col-md-12 mb-4">
              <h5 class="mb-3 text-dark" data-i18n="about_shop">
                About Our Shop
              </h5>
              <p data-i18n="shop_description">
                Welcome to TABO SHOP! We offer a wide range of high-quality
                products to meet your fashion needs. Explore our collection and
                find the perfect items for your style.
              </p>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
              <h5 class="mb-3 text-dark" data-i18n="links">Links</h5>
              <ul class="list-unstyled mb-0">
                <li class="mb-1">
                  <a href="/faq" style="color: #4f4f4f" data-i18n="faq">FAQ</a>
                </li>

                <li class="mb-1">
                  <a
                    href="/brands"
                    style="color: #4f4f4f"
                    data-i18n="collaborations"
                    >Collabarations</a
                  >
                </li>
                <li>
                  <a
                    href="/contacts"
                    style="color: #4f4f4f"
                    data-i18n="contact_us"
                    >Contact us</a
                  >
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
              <h5 class="mb-1 text-dark" data-i18n="opening_hours">
                Opening Hours
              </h5>
              <table class="table" style="border-color: #666">
                <tbody>
                  <tr>
                    <td data-i18n="mon_fri">Mon - Fri:</td>
                    <td data-i18n="mon_fri_hours">8am - 9pm</td>
                  </tr>
                  <tr>
                    <td data-i18n="sat_sun">Sat - Sun:</td>
                    <td data-i18n="sat_sun_hours">8am - 1am</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div
          class="text-center p-3"
          style="background-color: rgba(0, 0, 0, 0.2)"
        >
          © 2023 TABO SHOP
        </div>
      </footer>
    </div>
    <script>
      const langSelect = document.getElementById("lang-select");
      langSelect.addEventListener("change", function () {
        setTimeout(function () {
          window.location.href = "/cart";
        }, 10);
      });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/i18n/jquery.i18n.js"></script>
    <script src="js/i18n/jquery.i18n.messagestore.js"></script>
    <script src="js/i18n/jquery.i18n.fallbacks.js"></script>
    <script src="js/i18n/jquery.i18n.language.js"></script>
    <script src="js/i18n/jquery.i18n.parser.js"></script>
    <script src="js/i18n/jquery.i18n.emitter.js"></script>
    <script src="js/i18n/jquery.i18n.emitter.bidi.js"></script>
    <script src="js/i18n/languages/ru.js"></script>
    <script src="js/global.js"></script>
  </body>
</html>
